* {
    margin: 0;
    padding: 0;
}

h1 {
   position: relative;
   font-family: GraphikLCG;
   font-weight: bold;
   font-size: 36px;
   line-height: 36px;
   color: rgba(69, 66, 78, 1);
   margin: 30px 0 15px 20px;
}

p {
   font-family: GraphikLCG;
   font-weight: normal;
   font-size: 15px;
   line-height: 15px;
   color: rgba(69, 66, 78, 1);
   width: 321px;
   height: 192px;
   margin: 0 0 0 20px;
}

.logo {
    height: 56px;
    width: 90px;
    margin: 8px 45px 0 34px;
   filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.3));
}

body {
   display: flex;
   justify-content: center;
   background-image: url(../img/background.png);
}

header {
   display: flex;
   align-items: center;
   height: 73px;
   width: 370px;
   border-radius: 50px;
   margin: 0 0 25px 0;
   background: linear-gradient(126.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 116.3%);
   box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.1), inset 5px 5px 4px rgba(255, 255, 255, 0.1);
   filter: drop-shadow(20px 30px 100px rgba(0, 0, 0, 0.05));
   backdrop-filter: blur(15px);
}

nav {
   display: flex;
   justify-content: space-between;
   width: 167px;
   height: 39px;
}

nav a:hover {
   background-color:rgba(255, 255, 255, 0.4);
   border-radius: 10px;
}

.description {
   position: absolute;
   width: 370px;
   height: 301px;
   border-radius: 30px;
   background: linear-gradient(126.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 116.3%);
   box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.1), inset 5px 5px 4px rgba(255, 255, 255, 0.1);
   filter: drop-shadow(20px 30px 100px rgba(0, 0, 0, 0.05));
   backdrop-filter: blur(15px);
   margin: 0 0 20px 0;
}

main {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   width: 370px;
   height: 740px;
   margin: 10px 0 15px 0;
}

section {
   width: 370px;
   height: 434px;
}
