@font-face {
    font-family: "GraphikLCG";
    src: url("fonts/GraphikLCG-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: "GraphikLCG";
        src: url("fonts/GraphikLCG-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
        }

body, p, h1 {
    margin: 0;
    padding: 0;
    font-family: GraphikLCG;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    position: relative;
    background-color: #CDA6F5;
}

h1 {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    color: #45424E;
    margin-bottom: 70px;
}

p {
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #45424E;
}

header {
    width: 100vw;
    height: 140px;
    position: absolute;
    display: flex;
    background: #A97DD7;
    flex-grow: 1;
}

main {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 1622px;
    height: 564px;
    margin-top: 228px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 471px;
    height: 22px;
    margin: auto 0 auto 0;
}

nav a {
    text-decoration: none;
    color: #45424E;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    transition: 0.1s linear;
}

nav a:hover {
    color: #7AD9B0;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

.description {
    height: 564px;
    width: 658px;
}

.logoimg {
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.3));
}

.logo {
    width: 136px;
    height: 94px;
    margin: 23 74 23 35;
}
