@font-face {
    font-family: "GraphikLCG";
    src: url("fonts/GraphikLCG-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("fonts/GraphikLCG-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@media screen { 
* {
    margin: 0;
    padding: 0;
}

h1 {
    position: relative;
    font-family: GraphikLCG;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    color: rgba(69, 66, 78, 1);
    margin: 43px 0 17px 42px;
}

p {
    font-family: GraphikLCG;
    font-weight: normal;
    font-size: 31px;
    line-height: 32px;
    color: rgba(69, 66, 78, 1);
    width: 652px;
    height: 384px;
    margin: 0 0 0 45px;
}

.logo {
    height: 94px;
    width: 136px;
    margin: 0 70px 0 53px;
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.3));
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Background.png);
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    height: 114px;
    width: 577px;
    border-radius: 50px;
    margin: 0 0 34px 0;
    background: linear-gradient(126.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 116.3%);
    box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.1), inset 5px 5px 4px rgba(255, 255, 255, 0.1);
    filter: drop-shadow(20px 30px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(15px);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 60px;
}

.description {
    position: absolute;
    width: 746px;
    height: 553px;
    border-radius: 50px;
    background: linear-gradient(126.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 116.3%);
    box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.1), inset 5px 5px 4px rgba(255, 255, 255, 0.1);
    filter: drop-shadow(20px 30px 100px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(15px);
}

main {
    display: flex;
    justify-content: space-between;
    width: 1633px;
    height: 701px;
}
}

@media screen { 
    body {
    background-color: pink;
    }
}
